@model IEnumerable<COMP229_301044056_Assignment02.Models.Recipe>
@{
    ViewBag.Title = "Recipes";
    Layout = "_Layout";
}

<h2>Recipes List</h2>
<div>
    @foreach (Recipe p in Model)
    {
        <div>@Html.ActionLink(@p.Name , "DisplayPage","Home",new { recipeID = p.ID })
            <form asp-action="Delete" method="post">
                <a asp-action="Edit" class="btn btn-sm btn-warning"
                   asp-route-productId="@p.ID">
                    Edit
                </a>
                <input type="hidden" name="ID" value="@p.ID" />
                <button type="submit" class="btn btn-danger btn-sm">
                    Delete
                </button>
            </form></div>
    }
</div>
