@model Recipe
@{
    ViewData["Title"] = "Edit";
    Layout = "_AdminLayout";
}

<h2>Edit</h2>
<form asp-action="Edit" method="post">
    <div class="form-group">
        <label asp-for="Name" style="width:50%; float:left">Recipe:</label>
        <input class="form-control" asp-for="Name" style="width:50%; float:left" />
    </div>
    <div class="form-group">
        <label asp-for="Category" style="width:50%; float:left">Category:</label>
        <input class="form-control" asp-for="Category" style="width:50%; float:left" />
    </div>
    <div class="form-group">
        <label asp-for="Cuisine" style="width:50%; float:left">Cuisine:</label>
        <input class="form-control" asp-for="Cuisine" style="width:50%; float:left" />
    </div>
    <div class="form-group">
        <label asp-for="Instructions" style="width:50%; float:left">Instructions:</label>
        <input class="form-control" asp-for="Instructions" style="width:50%; float:left" />
    </div>
    <input type="hidden" asp-for="ID" />
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Save</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
</form>