@model InsertPageViewModel

<form id="form1" asp-action="InsertPage"
      asp-controller="Home" method="post">

    <div class="form-group">
        <label asp-for="RecipeVM.Name" style="width:50%; float:left">Recipe:</label>
        <input class="form-control" asp-for="RecipeVM.Name" style="width:50%; float:left" />
    </div>
    <div class="form-group">
        <label asp-for="RecipeVM.Category" style="width:50%; float:left">Category:</label>
        <input class="form-control" asp-for="RecipeVM.Category" style="width:50%; float:left" />
    </div>
    <div class="form-group">
        <label asp-for="RecipeVM.Cuisine" style="width:50%; float:left">Cuisine:</label>
        <input class="form-control" asp-for="RecipeVM.Cuisine" style="width:50%; float:left" />
    </div>
    <div class="form-group">
        <label asp-for="RecipeVM.Instructions" style="width:50%; float:left">Instructions:</label>
        <input class="form-control" asp-for="RecipeVM.Instructions" style="width:50%; float:left" />
    </div>

    <input type="hidden" asp-for="RecipeVM.ID" />
    <div id="test" style="font-size: small">
        @Html.EditorFor(f => f.CollectLine)
        @Html.EditorFor(g => g.Measure)
        @Html.EditorFor(h => h.Ingredient)
    </div>
    <button type="submit" style="float:left">
        Save
    </button>
    <button type="button" style="float:left" onclick="location.href='@Url.Action("")'">
        Cancel
    </button>
    <button type="button" id="AddIngredient">Add</button>
</form>