@model TestViewModel
@foreach (IngredientLineDetail i in Model.Line)
{
    <a class="btn btn-block btn-secondary"
       asp-action="Index"
       asp-controller="Home"
       asp-route-category="@i"
       asp-route-productPage="1">
        @i.Ingredient.IngredientName
    </a>
}
    <p>@ViewBag.test</p>